body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #63716A;
  background-color: #F4F4F4;
}

#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #55917F;
  color: white;
  align-items: left;
  font-size: 300%;
}

table {
  text-align: justify;
}

td {
  padding: 10px;
  vertical-align: top;
}

.img-short {
  height: 78%;
  width: auto;
}

td>h3 {
  padding-left: 5px;
  font-weight: 600;
}

.list-vertical ul {
  list-style: none;
  padding-top: 40px;
  padding-left: 0px;
}

.list-vertical li {
  padding-top: 40px;
}

.list-vertical a {
  text-decoration: none;
  color:#6AA895;
}

.list-vertical a:hover {
  color: white
}

#page-content {
  margin-left: 300px;
}

body h2 {
  font-size: 130%;
  line-height: 70%;
  font-weight: normal;
}

body h3 {
  font-weight: lighter;
  font-size: 120%;
  line-height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card-white {
  background-color: white;
  padding: 20px;
  padding-top: 15px;
  margin: 20px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgb(230, 230, 230);
}

.text-center {
  text-align: center;
}

.banner h1 {
  color: #59A059;
}

.banner {
  padding-top: 50px;
}

.img-circle {
  border-radius: 50%;
}

.list-inline ul {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline-block;
  padding-right: 10px;
}

.list-inline a {
  text-decoration: none;
  color: #85DD85;
}

.list-inline a:hover {
  text-decoration: none;
  color: #59A059 ;
}

#movies a {
  text-decoration: none;
  color: #969494;
}

#movies a:hover {
  text-decoration: none;
  color: #63716A;
}


#about a {
  text-decoration: none;
  color: #85DD85;
}

#about a:hover {
  text-decoration: none;
  color: #59A059;
}

